body {
  background-color: #FBFBFB;
  color: #131313;
}

.big {
  padding-left: 2em;
  font-size: 1.6em;
  text-decoration: underline;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
}

header {
  background-color: #131313;
  color: #FBFBFB;
  padding: 0.6em;
  border-bottom: 4px solid #0A0A0A;
}

.home-link {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: 2em;
}

.home-link > .logo {
  height: 100%;
}

.nav {
  margin: 0;
  list-style-type: none;
  text-align: right;
  word-spacing: 1em;
}

.nav > .entry {
  display: inline;
  padding: 0;
}

.entry > a {
  padding: 0.2em 0;
  line-height: 2em;
  text-decoration: none;
  color: inherit;
}

.entry > a:hover {
  border-bottom: 1px solid #FBFBFB;
}

#title {
  position: relative;
  padding: 4em;
  overflow: hidden;
  text-align: center;
  background-color: #131313;
  background-image: url(/images/background.jpg);
  background-repeat:no-repeat;
  background-position: center;
  color: #FBFBFB;
  border-bottom: 4px solid #0A0A0A;
}

#title h1 {
  font-size: 4em;
  margin: 0;
}

#title h2 {
  font-size: 2em;
  margin: 0;
}

#title .headline {
  margin-top: 2em;
  margin-bottom: 2em;
}

#title .screencast {
  overflow: hidden;
}

.screencast > * {
  margin: 0 !important;
}

main {
  margin: 2em 0;
}

footer {
  padding: 0.6em;
}

.signature {
  text-align: right;
}

.avatar {
  padding: 0.4em;
  vertical-align: middle;
  display: inline-block;
  border-radius: 50% 50% 50% 50%;
}
